nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') BossJS
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
    ul.navbar-nav
      if isAuthenticated
        li.nav-item
          a.nav-link(href='/logout') Logout
        li.nav-item
          a.nav-link(href='/leaderboard') Leaderboard
      else
        li.nav-item
          a.nav-link(href='/register') Register
        li.nav-item
          a.nav-link(href='/login') Login