extends layout

block content

    h1.text-center= title

    h3.text-center Your Final Score: 
    h3.text-center=${score}

    h6.text-center
        a.nav-link(href='/leaderboard') Are you on the leader board?
