extends layout

block content
	.container
		h2 Table
		.table-responsive
			table.table
				thead
					tr
						th #
						th Username
						th Player Name
						th High Score
				tbody
					each player in players
						tr
							td p= player.Name
							td p= player.Level
