extends layout

block content
	.container
		h2 Leaderboards
		.table-responsive
			table.table
				thead
					tr
						th #
						th Username
						th Player Name
						th High Score
				tbody
				- for(varx=1;x<16;x++)
					li items
						
