extends layout

block content
	.container
		h2 Table
		.table-responsive
			table.table
				thead
					tr
						th #
						th Username
						th Player Name
						th High Score
				tbody
				each player in player

					tr
						td player.name
						td player.level
						
