extends layout

block content
	.container
		h2 Table
		.table-responsive
			table.table
				thead
					tr
						th #
						th Username
						th Player Name
						th High Score
				tbody
					tr
						td 1
						td Test
						td Player Test
						td 35
