extends layout

block content
  .container.text-center
    h1 Login With Github or Google

    a.btn.btn-github(href="/auth/github")
        i.fa.fa-github
        span.ml-2 Login With Github

    a.btn.btn-github(href="/auth/google")
        i.fa.fa-google
        span.ml-2 Login With Google